@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}
}

body {
	background-color: #F5F4F1 !important;
	color: #14274C;
	max-width: 100vw;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Palatino', sans-serif !important;
}

input {
	padding: 2px 5px;
	text-align: center;

	border-radius: 7px;
	border-style: solid;
	border-color: #14274C;
	border-width: 1px;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

select {
	padding: 4px 5px;

	background-color: transparent;
	border-style: solid;
	border-color: #14274C;
	border-width: 1px;
	border-radius: 7px;
}

select:focus {
    outline: none;
}